[submodule "DiceMaster_ESPScreen"]
	path = DiceMaster_ESPScreen
	url = git@github.com:ShapiroDesignLab/DiceMaster_ESPScreen.git
[submodule "DiceMaster_Central"]
	path = DiceMaster_Central
	url = git@github.com:ShapiroDesignLab/DiceMaster_Central.git
[submodule "DiceMaster_ROS_workspace"]
	path = DiceMaster_ROS_workspace
	url = git@github.com:DanielHou315/DiceMaster_ROS_workspace.git
